name: ginger CI
on:
  push:
    paths:
      - 'tests/**'
      - 'src/**'
      - 'ginger.nimble'
      - '.github/workflows/ci.yml'
  pull_request:
    paths:
      - 'tests/**'
      - 'src/**'
      - 'ginger.nimble'
      - '.github/workflows/ci.yml'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        branch: [version-1-6, devel]
        target: [linux , macos, windows]
        include:
          - target: linux
            builder: ubuntu-18.04
          - target: macos
            builder: macos-10.15
          - target: windows
            builder: windows-2019
    name: '${{ matrix.target }} (${{ matrix.branch }})'
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: ginger

      - name: Setup Nim
        uses: alaviss/setup-nim@0.1.1
        with:
          path: nim
          version: ${{ matrix.branch }}

      - name: Install dependencies (Ubuntu)
        if: ${{matrix.target == 'linux'}}
        run: |
          sudo apt-get update
          sudo apt-get install libcairo2 libcairo2-dev

      - name: Install dependencies (OSX)
        if: ${{matrix.target == 'macos'}}
        run: |
          brew install cairo

      - name: Setup MSYS2 (Windows)
        if: ${{matrix.target == 'windows'}}
        uses: msys2/setup-msys2@v2
        with:
          path-type: inherit
          update: true
          install: base-devel git mingw-w64-x86_64-toolchain

      - name: Install dependencies (Windows)
        if: ${{matrix.target == 'windows'}}
        shell: msys2 {0}
        run: |
          pacman -Syu --noconfirm
          pacman -S --needed --noconfirm mingw-w64-x86_64-cairo
          pacman -S --needed --noconfirm mingw-w64-x86_64-lapack

      - name: Setup nimble & deps
        shell: bash
        run: |
          cd ginger
          nimble refresh -y
          nimble install -y

      - name: Run tests (Linux & Mac)
        if: ${{matrix.target != 'windows'}}
        shell: bash
        run: |
          cd ginger
          nimble -y test

      - name: Run tests (Windows)
        if: ${{matrix.target == 'windows'}}
        shell: msys2 {0}
        run: |
          cd ginger
          nimble -y test

      - name: Build docs
        if: >
          github.event_name == 'push' && github.ref == 'refs/heads/master' &&
          matrix.target == 'linux' && matrix.branch == 'devel'
        shell: bash
        run: |
          cd ginger
          branch=${{ github.ref }}
          branch=${branch##*/}
          nimble doc --project --outdir:docs \
            '--git.url:https://github.com/${{ github.repository }}' \
            '--git.commit:${{ github.sha }}' \
            "--git.devel:$branch" \
            src/ginger.nim
          # Ignore failures for older Nim
          cp docs/{the,}index.html || true

      - name: Publish docs
        if: >
          github.event_name == 'push' && github.ref == 'refs/heads/master' &&
          matrix.target == 'linux' && matrix.branch == 'devel'
        uses: crazy-max/ghaction-github-pages@v3
        with:
          build_dir: ginger/docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
